<style>
    #usun {
        color: firebrick;
    }

    .my-class {
        color: black;
        font-family: Marker Felt;
    }

    .my-class:active {
        color: black;
    }

    .my-class:link {
        color: black;
    }

    .my-class:visited {
        color: black;
    }

    .my-class:hover {
        color: cadetblue;
    }
</style>
@model DPSapp.Models.Patient

@{
    ViewBag.Title = "DeletePatient";
    Layout = "~/Views/Shared/_LayoutEmp.cshtml";
}

@*<div class="jumbotron jumbotron-fluid" style="background-color:whitesmoke">
    <div class="container" style=" background-color:white">

        <h1 class="display-4" style="        text-align: center;
        font-family: Marker Felt; border:double;">
            Moduł usuwania pacjenta
        </h1>


    </div>
</div>*@
@*<div class="container" style=" background-color:white">

    <h1 class="display-4" style="        text-align: center; color:red;
        font-family: Marker Felt; border:double;">
        Jesteś pewny, że chcesz usunąć tego pacjenta??
    </h1>


</div>*@
<p class="error">@ViewBag.ErrorMessage</p>
<h3 id="usun">Czy na pewno chcesz usunąć pensjonariusza?</h3>
@*<h3>Jesteś pewny, że chcesz usunąć tego pacjenta??</h3>*@
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Imię:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientName)
        </dd>

        <dt>
            Nazwisko:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientSurname)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Usuń" class="btn btn-default" /> |
            @Html.ActionLink("Powrót do listy pensjonariuszy", "Index", null, new { @class = "my-class", title = "Naciśnięcie spowoduje powrót do listy pensjonariuszy" })
        </div>
    }
</div>
