
<style>
    .my-class {
        color: black;
        font-family: Marker Felt;
    }

        .my-class:active {
            color: black;
        }

        .my-class:link {
            color: black;
        }

        .my-class:visited {
            color: black;
        }

        .my-class:hover {
            color: cadetblue;
        }

    .gradient-class {
        color: black;
        position: center;
        font-family: Marker Felt;
        font-size: larger;
    }
</style>
@model DPSapp.Models.Patient

@{
    ViewBag.Title = "EditPatient";
    Layout = "~/Views/Shared/_LayoutEmp.cshtml";
}

<h2>Edytuj pensjonariusza</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Pensjonariusz</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.PatientId)

    <div class="form-group">
        @Html.LabelFor(model => model.PatientName, "Imię", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PatientName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PatientName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PatientSurname, "Nazwisko", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.PatientSurname, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PatientSurname, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" style="background-color:white; color:black; border:double;" value="Zapisz Pacjenta" class="btn btn-default" />|
            @Html.ActionLink("Powrót do listy pensjonariuszy", "Index", "Patient", null, new { @class = "my-class", title = "Naciśnięcie spowoduje powrót do listy znaczników" })
        </div>
    </div>

</div>
}


