<style>
    #tlo {
        background-color: whitesmoke;
    }
</style>
@model IEnumerable<DPSapp.Models.Patient>

@{
    ViewBag.Title = "Pacjenci";
    Layout = "~/Views/Shared/_LayoutEmp.cshtml";
}
<style>
    .button {
        display: inline-block;
        border-radius: 4px;
        background-color: white;
        border: double;
        color: black;
        text-align: center;
        font-size: 14px;
        font-family: Marker Felt;
        padding: 20px;
        width: 320px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 0px;
    }

        .button:hover {
            background-color: #EDEDED;
        }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        .button:hover span {
            padding-right: 25px;
        }

            .button:hover span:after {
                opacity: 1;
                right: 0;
            }
    .my-class {
        color: black;
        font-family: Marker Felt;
    }

    .my-class:active {
        color: black;
    }

    .my-class:link {
        color: black;
    }

    .my-class:visited {
        color: black;
    }

    .my-class:hover {
        color: cadetblue;
    }

    .gradient-class {
        color: black;
        position: center;
        font-family: Marker Felt;
        font-size: larger;
    }
</style>
<div class="jumbotron jumbotron-fluid" style="background-color:whitesmoke">
    <div class="container" style=" background-color:whitesmoke">

        <h1 class="display-4" style="        text-align: center;
        font-family: Marker Felt; border:double; background-color:white">
            Lista Pensjonariuszy
        </h1>


    </div>
</div>

<div>
    <p id="dodaj" class="button" onclick="@("window.location.href='" + @Url.Action("Create", "Patient") + "'");" title="Naciśnięcie spowoduje przeniesienie do modułu dodawania nowego pensjonariusza">
        Dodaj nowego pensjonariusza
    </p>
</div>

<br />
<div class="card text-white bg-info text-center" style="background-color:whitesmoke">
    <h4 class="display-4" style="        text-align: left;
        font-family: Marker Felt">Wyszukaj pensjonariusza</h4>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i> </span>
            <input type="text" id="Search" placeholder="Search" class="form-control" title="Dynamiczne wyszukiwanie pensjonariusza" />
        </div>
    </div>
</div>
<br />
<table class="table table-hover" id="tabelka" style="        font-family: Marker Felt;
        background-color: white;
        color: black">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.RecipeName)*@
            @Html.ActionLink("Imię pencjonariusza", "Index", new { sortOrder = ViewBag.NameSortParm }, new { @class = "my-class", title = "Naciśnięcie spowoduje posortwanie danych według tabeli" })
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.Date)*@
            @Html.ActionLink("Nazwisko pensjonariusza", "Index", new { sortOrder = ViewBag.SurnameSortParm }, new { @class = "my-class", title = "Naciśnięcie spowoduje posortwanie danych według tabeli" })
        </th>
        <th>
            @* @Html.DisplayNameFor(model => model.Date)*@
           Znaczniki pacjenta
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr class="Search">
    <td>
        @*<a href="=#" data-toggle="popover" data-trigger="hover" id="@item.RecipeID">
            @item.RecipeName*@
        @Html.DisplayFor(modelItem => item.PatientName)
        @*</a>*@


    </td>
    <td>

        @Html.DisplayFor(modelItem => item.PatientSurname)
    </td>

    <td>

        @foreach (var item2 in item.Tags)
        {
            @item2.TagName
            <br />
        }
    </td>
    <td>
        @*@foreach (var tag in item.Tags)
        {
            <p>@String.Format("\n{0}", tag.TagName);</p>
        }*@



        <div>
            <input type="button" value="Dodaj znacznik" style="background-color:white; color:black; border:double;" title="Przypisz znacznik pensjonariuszowi"
                   onclick="@("window.location.href='" + @Url.Action("AddTagToPatient","Tag", new { id = item.PatientId }) + "'");" />

        </div>
        <div>
            <input type="button" value="Usuń znacznik" style="background-color:white; color:black; border:double;" title="Przypisz znacznik pensjonariuszowi"
                   onclick="@("window.location.href='" + @Url.Action("RemoveTagToPatient","Tag", new { id = item.PatientId }) + "'");" />

        </div>
    </td>

    <td>
            <input type="button" value="Szczegóły" style="background-color:white; color:black; border:double;" title="Naciśnięcie umożliwia podgląd przypisanych znaczników"
                   onclick="@("window.location.href='" + @Url.Action("Details","Patient", new { id = item.PatientId }) + "'");" />

            <input type="button" value="Edytuj" style="background-color:white; color:black; border:double;" title="Naciśnięcie spowoduje przeniesienie do modułu edycji pensjonariusza"
                   onclick="@("window.location.href='" + @Url.Action("EditPatient","Patient", new { id = item.PatientId }) + "'");" />

            <input type="button" value="Usuń" style="background-color:white; color:black; border:double;" title="Naciśnięcie spowoduje przeniesienie do modułu usuwania pensjonariusza"
                   onclick="@("window.location.href='" + @Url.Action("DeletePatient","Patient", new { id = item.PatientId }) + "'");" />

        @*@Html.ActionLink("Edytuj", "Edit", new { id = item.PatientId }) |*@
        @*@Html.ActionLink("Szczegóły pacjenta", "Details", new { id = item.PatientId }, new { @class = "my-class", title = "Naciśnięcie umożliwia podgląd przypisanych znaczników" })

        @Html.ActionLink("Edycja pacjenta", "EditPatient", new { id = item.PatientId }, new { @class = "my-class", title = "Naciśnięcie spowoduje przeniesienie do modułu edycji pensjonariusza" })
        @Html.ActionLink("Usuń Pacjenta ", "DeletePatient", new { id = item.PatientId }, new { @class = "my-class", title = "Naciśnięcie spowoduje przeniesienie do modułu usuwania pensjonariusza" })*@
    </td>
</tr>
    }

</table>

@*<script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                title: setData,
                html: true,
                placement: 'right'
            });
            function setData(id) {
                var set_data = '';
                var element = $(this);
                var id = element.attr("id");
                $.ajax({
                    url: "/Recipe/Index/RecipeInfo?id" + id,
                    method: "post",
                    async: false,
                    data: { id: id },
                    succes: function (data) {
                        set_data = data;
                    }
                });
                return set_data;
            }
        });*@
@* Jakaś wyszukiwajka. Na razie nie działa *@
@*</script>*@
<script src="~/Scripts/jquery-3.3.1.slim.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLocaleLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>
