@{
    ViewBag.Title = "Strona startowa";
}
@model DPSapp.Models.LoginAssistant
@*<head id="Head1" runat="server">
    <script type="text/javascript">
        var loginy = @Html.Raw(Json.Encode(Model.login));
        var hasla = @Html.Raw(Json.Encode(Model.password));
        var role = @Html.Raw(Json.Encode(Model.role));
        

    function loguj() {
        let validated = false;
        var userName = document.getElementById("exampleInputLogin").value;
        var userPass = document.getElementById("exampleInputPassword1").value;


        var i;
        for (i = 0; i < loginy.length; i++) {
            if (userName == loginy[i]) {
                if (userPass==hasla[i]) {
                    if (role[i] == "1") {
                       
                        window.open("/Employee/Index", "_self")
                       
                    }
                    else {
                        window.open("/Family/Index", "_self")
                    }
                }
            }
        }



    }


    </script>
</head>*@

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Miejsce na nazwę</h1>
        <p class="lead">Miejsce na opis.</p>
    </div>
</div>

<div class="row" style="margin-top:50px">
    <div class="col-sm-6" style="width:15rem"></div>
    <div class="col-sm-6 " style="width:30rem">

        <div class="card text-white bg-info text-center" style="width: 30rem; padding: 2rem; height:30rem">

            <div id="forma" class="card-body">
                <h4 class="card-title text-capitalize text-center" style="margin-bottom:20px">Logowanie użytkownika</h4>
                <form>
                    <div class="form-group text-left">
                        <label for="exampleInputLogin">Login</label>
                        @*<input name="log" type="text" class="form-control" id="exampleInputLogin" aria-describedby="emailHelp" placeholder="Wpisz login">*@
                        @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="form-group text-left">
                        <label for="exampleInputPassword1">Hasło</label>
                        @Html.PasswordFor(model=>model.password, new { htmlAttributes = new { @class = "form-control" } })


                        @*<input name="pas" type="password" class="form-control" id="exampleInputPassword1" placeholder="Wpisz hasło">*@
                    </div>

                    <button type="submit"  class="btn btn-primary" style="margin-top:20px">Zaloguj</button>
                </form>
            </div>
        </div>

    </div>
    <div class="col-sm-6" style="width:20rem"></div>
    <div class="col-sm-6" style="width:30rem">
        <div class="card text-white bg-info text-center" style="width: 30rem; padding: 2rem; height: 30rem">
            <div class="card-body">
                <h4 class="card-title text-capitalize" style="margin-bottom:20px">Galeria dla pensjonariuszy</h4>
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="currentColor" class="bi bi-images" viewBox="0 0 16 16" alignment-baseline="center">
                    <path d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3z" />
                    <path d="M14.002 13a2 2 0 0 1-2 2h-10a2 2 0 0 1-2-2V5A2 2 0 0 1 2 3a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v8a2 2 0 0 1-1.998 2zM14 2H4a1 1 0 0 0-1 1h9.002a2 2 0 0 1 2 2v7A1 1 0 0 0 15 11V3a1 1 0 0 0-1-1zM2.002 4a1 1 0 0 0-1 1v8l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71a.5.5 0 0 1 .577-.094l1.777 1.947V5a1 1 0 0 0-1-1h-10z" />
                </svg>
                <p class="card-text text-left" style="margin-top:20px; margin-bottom:20px">Wejście do galerii zdjęć oraz wiadomości dla pensjonariuszy z podziałem na pokoje. </p>
                <a href=@Url.Action("ChooseRoomSite","Rooms") class="btn btn-primary">Wybór pokoju</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="width:5%"></div>
</div>


