<style>
    #usun {
        color: firebrick;
    }

    .my-class {
        color: black;
        font-family: Marker Felt;
    }

        .my-class:active {
            color: black;
        }

        .my-class:link {
            color: black;
        }

        .my-class:visited {
            color: black;
        }

        .my-class:hover {
            color: cadetblue;
        }
</style>
@model DPSapp.Models.User

@{
    ViewBag.Title = "DeleteUser";
    Layout = "~/Views/Shared/_LayoutEmp.cshtml";
}

<p class="error">@ViewBag.ErrorMessage</p>
<h3 id="usun">Czy na pewno chcesz usunąć użytkownika?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Login:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            Przypisana rola:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleId)
        </dd>

        <dt>
            Przypisany pensjonariusz:
        </dt>

        <dd>
            @ViewBag.PatientN @ViewBag.PatientS
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Usuń" class="btn btn-default" /> |
    @Html.ActionLink("Powrót do listy użytkowników", "UserManagement", null, new { @class = "my-class", title = "Naciśnięcie spowoduje powrót do listy użytkowników" })
</div>
    }
</div>
