<style>
    #tlo {
        background-color: whitesmoke;
    }
</style>
<style>
    .my-class {
        color: black;
        font-family: Marker Felt;
    }

        .my-class:active {
            color: black;
        }

        .my-class:link {
            color: black;
        }

        .my-class:visited {
            color: black;
        }
        .my-class:hover {
            color:cadetblue;
        }
    .gradient-class {
        color: black;
        position: center;
        font-family: Marker Felt;
        font-size:larger;
    }
</style>
    

@model IEnumerable<DPSapp.Models.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="jumbotron jumbotron-fluid" id="tlo">
    <div class="container" style="  background-color:whitesmoke">

        <h1 class="display-4" style="text-align: center; background-color: white; font-family: Marker Felt; border: double">Panel administracji</h1>


    </div>
</div>

        <div class="navbar">
            <div class="container" style="vertical-align:central">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" style="background-color: whitesmoke; border:double">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="Tag" class="gradient-class">
                                <span class="text-color-class">Znaczniki</span>
                            </a>
                        </li>
                        <li>

                        </li>
                        <li>
                            <a href="Patient" class="gradient-class">
                                <span class="text-color-class">Pacjenci</span>
                            </a>
                        </li>
                        <li>
                            <a href="Employee/UserManagement" class="gradient-class">
                                <span class="text-color-class">Użytkownicy</span>
                            </a>
                        </li>
                        <li>
                            <a href="Employee/SendedMessages" class="gradient-class">
                                <span class="text-color-class">Ogłoszenia</span>
                            </a>
                        </li>
                        <li>
                            <a href="Employee/Send" class="gradient-class">
                                <span class="text-color-class">Wyślij ogłoszenia</span>
                            </a>
                        </li>
                        <li>
                            <a href="Employee/Rooms" class="gradient-class">
                                <span class="text-color-class">Pokoje</span>
                            </a>
                        </li>
                        <li>
                            <a href="Employee/EditPassword" class="gradient-class">
                                <span class="text-color-class">Zmiana hasła</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container" style="  background-color:whitesmoke">

            @*<h1 class="display-4" style="        text-align: center;
        font-family: Marker Felt;
        background-color:white;
        border: double">
                Użytkownicy
            </h1>*@


        </div>
        <!--<div>
            <table class="table table-hover" id="tabelka" style="background-color: white; color:black">
                <tr>
                    <th>-->
                        @*@Html.DisplayNameFor(model => model.RecipeName)*@
                        <!--@Html.ActionLink("Numer", "Index", new { sortOrder = ViewBag.IdSortParm }, new { @class = "my-class", title = "Naciśnięcie spowoduje posortwanie danych według tabeli" })
                    </th>
                    <th>-->
                        @* @Html.DisplayNameFor(model => model.Date)*@
    <!--@Html.ActionLink("Login użytkownika", "Index", new { sortOrder = ViewBag.LoginSortParm }, new { @class = "my-class", title = "Naciśnięcie spowoduje posortwanie danych według tabeli" })
</th>
                    <th>-->
                        @* @Html.DisplayNameFor(model => model.Date)*@
                        <!--@Html.ActionLink("Hasło użytkownika", "Index", new { sortOrder = ViewBag.PasswordSortParm }, new {@class = "my-class", title= "Naciśnięcie spowoduje posortwanie danych według tabeli" })-->
                        @*@Html.ActionLink("Hasło użytkownika", "Index", null, new Dictionary<string, object> { { "sortOrder", "ViewBag.PasswordSortParm" }, { "class", "my-class" }, { "title", "Naciśnięcie spowoduje posortwanie danych według tabeli" } })*@
                    <!--</th>
                    <th>-->
                        @* @Html.DisplayNameFor(model => model.Date)*@
                        <!--@Html.ActionLink("Liczba przypisanych pensjonariuszy", "Index", new { sortOrder = ViewBag.PatientIdSortParm }, new { @class = "my-class", title = "Naciśnięcie spowoduje posortwanie danych według tabeli" })
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr class="Search">
                        <td>
                            @item.UserId
                        </td>
                        <td>

                            @item.Login


                        </td>
                        <td>

                            @item.Password
                        </td>
                        <td>
                            @if (item.PatientID == 0)
                            {
                                <h5> Brak (Konto Pracownika)</h5>
                            }
                            else
                            {
                                <h5>@item.PatientID</h5>

                            }

                        </td>

                    </tr>
                }

            </table>

        </div>-->


