@model IEnumerable<DPSapp.Models.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron jumbotron-fluid" style="background-image: linear-gradient(rgb(104 156 207), white)">
    <div class="container" style="  background-image: linear-gradient(rgb(104 156 207), white)">

        <h1 class="display-4" style="text-align:center ;font-family:Broadway">Panel administracji</h1>


    </div>
</div>

<div class="navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" style="background-color: rgb(144 178 210)
">
            <ul class="nav navbar-nav">
                <li>
                    <a href="Tag" class="gradient-class">
                        <span class="text-color-class">Znaczniki</span>
                    </a>
                </li>
                <li>
                   
                </li>
                <li>
                    <a href="Patient" class="gradient-class">
                        <span class="text-color-class">Pacjenci</span>
                    </a>
                </li>
                <li>
                    <a href="Employee/UserManagement" class="gradient-class">
                        <span class="text-color-class">Użytkownicy</span>
                    </a>
                </li>
                <li>
                    <a href="Message" class="gradient-class">
                        <span class="text-color-class">Ogłoszenia</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container" style="  background-image: linear-gradient(rgb(104 156 207), white)">

    <h1 class="display-4" style="text-align:center ;font-family:'Times New Roman'">Użytkownicy</h1>


</div>
<div>
    <table class="table table-hover" id="tabelka">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.RecipeName)*@
                @Html.ActionLink("Imię pacjenta", "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Date)*@
                @Html.ActionLink("Nazwisko pacjenta", "Index", new { sortOrder = ViewBag.SurnameSortParm })
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Date)*@
                @Html.ActionLink("Hasło", "Index", new { sortOrder = ViewBag.SurnameSortParm })
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.Date)*@
                @Html.ActionLink("Przypisany pacjent", "Index", new { sortOrder = ViewBag.SurnameSortParm })
            </th>
        </tr>

        @foreach (var item in Model)
        {
    <tr class="Search">
        <td>
            @item.UserId
        </td>
        <td>

            @item.Login


        </td>
        <td>

            @item.Password
        </td>
        <td>
            @if (item.PatientID == 0)
            {
                <h5> Brak (Konto Pracownika)</h5>
            }
            else
            {
        <h5>@item.PatientID</h5>
                   
            }

            </td>

    </tr>
        }

    </table>

</div>


