<style>
    .button {
        display: inline-block;
        border-radius: 4px;
        background-color: white;
        border: double;
        color: black;
        text-align: center;
        font-size: 14px;
        font-family: Marker Felt;
        padding: 20px;
        width: 320px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 0px;
    }

        .button:hover {
            background-color: #EDEDED;
        }

        .button span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

            .button span:after {
                content: '\00bb';
                position: absolute;
                opacity: 0;
                top: 0;
                right: -20px;
                transition: 0.5s;
            }

        .button:hover span {
            padding-right: 25px;
        }

            .button:hover span:after {
                opacity: 1;
                right: 0;
            }

    .my-class {
        color: black;
        font-family: Marker Felt;
    }

        .my-class:active {
            color: black;
        }

        .my-class:link {
            color: black;
        }

        .my-class:visited {
            color: black;
        }

        .my-class:hover {
            color: cadetblue;
        }

    .gradient-class {
        color: black;
        position: center;
        font-family: Marker Felt;
        font-size: larger;
    }
</style>
@model List<DPSapp.Models.User>
@{
    ViewBag.Title = "Zarządzanie użytkownikami";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron jumbotron-fluid" style="background-color:whitesmoke">
    <div class="container" style=" background-color:whitesmoke">

        <h1 class="display-4" style="        text-align: center;
        font-family: Marker Felt; border:double; background-color:white">
            Lista Użytkowników
        </h1>


    </div>
</div>

<div>
    <p id="dodaj" class="button">
        @Html.ActionLink("Dodaj nowego użytkownika", "CreateUser", null, new { title = "Naciśnięcie spowoduje przeniesienie do modułu dodawania użytkownika" })

    </p>
</div>


}
<div>
    


    <table style="width:100%">
        <tr>
            <th>Login</th>
            <th>Hasło</th>
            <th>PacjentID</th>
        </tr>


        @foreach (var user in Model)
        {
            <tr>
                <td>


                   @user.Login

                    @*<a href=@Url.Action("Slider","Rooms") class="btn btn-primary">@room.RoomNumber</a>*@
                </td>
                <td>
                    @user.Password
                </td>
                <td>
                    @if (user.PatientID == 0)
                    {
                        <h5> Brak (Konto Pracownika)</h5>
                    }
                    else
                    {
                        <h5>@user.PatientID</h5>

                    }
                </td>
                <td>
                    <a href=@Url.Action(String.Format("EditUser/{0}",@user.UserId),"Employee") class="button">Edytuj użytkownika</a>

                </td>
            </tr>
        }

        <a href=@Url.Action("Index","Employee") class="button">Wróć</a>

    </table>



</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
