

@model DPSapp.Models.AddPatientsToRoomHelper
@{
    ViewBag.Title = "AddPatientToRoom";
    Layout = "~/Views/Shared/_LayoutEmp.cshtml";
}
    <style>
        #usun {
            color: black;
            font-family: Marker Felt;
        }
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        .button {
            display: inline-block;
            border-radius: 4px;
            background-color: white;
            border: double;
            color: black;
            text-align: center;
            font-size: 14px;
            font-family: Marker Felt;
            padding: 20px;
            width: 320px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 0px;
        }

            .button:hover {
                background-color: #EDEDED;
            }

            .button span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .button span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .button:hover span {
                padding-right: 25px;
            }

                .button:hover span:after {
                    opacity: 1;
                    right: 0;
                }


        .buttonRoom {
            display: inline-block;
            border-radius: 4px;
            background-color: white;
            border: double;
            color: black;
            text-align: center;
            font-size: 14px;
            font-family: Marker Felt;
            padding: 19px;
            width: 320px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 0px;
        }

            .buttonRoom:hover {
                background-color: #EDEDED;
            }

            .buttonRoom span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;
            }

                .buttonRoom span:after {
                    content: '\00bb';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -20px;
                    transition: 0.5s;
                }

            .buttonRoom:hover span {
                padding-right: 25px;
            }

                .buttonRoom:hover span:after {
                    opacity: 1;
                    right: 0;
                }

        .my-class {
            color: black;
            font-family: Marker Felt;
        }

            .my-class:active {
                color: black;
            }

            .my-class:link {
                color: black;
            }

            .my-class:visited {
                color: black;
            }

            .my-class:hover {
                color: cadetblue;
            }

        .gradient-class {
            color: black;
            position: center;
            font-family: Marker Felt;
            font-size: larger;
        }
    </style>
    <div class="jumbotron jumbotron-fluid" id="tlo">
        <div class="container" style="  background-color:whitesmoke">
            <h1 class="display-4" style=" font-size: 30px; text-align: center; background-color: white; font-family: Marker Felt; border: double">Dodawanie pensjonariusza do pokoju</h1>
        </div>
    </div>
    <h3 id="usun">Wybierz pensjonariusza, którego chcesz przypisać do pokoju</h3>
@using (Html.BeginForm("AddPatientToRoom", "Rooms", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <div class="col-md-10">

                @*@Html.DropDownList("TagName", null, htmlAttributes: new { @class = "form-control" })*@
                @*@Html.DropDownListFor(m => m.TagIdToAdd, Model.ListOfTags, new { @class = "form-control" })*@

                @Html.DropDownListFor(m => m.PatientIdToAdd, new SelectList(ViewBag.Patients, "Value", "Text"))
                @*@Html.DropDownListFor(m => m.PatientIdToAdd, new SelectList(Model.ListOfPatients, "PatientID", "PatientName"))*@
                @*@ViewBag.TagID as SelectList*@

                @*@Html.ValidationMessageFor(model => model.TagId, "", new { @class = "text-danger" })*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" style="background-color:white; color:black; border:double;" value="Zapisz" class="btn btn-default" />
                <span id="dodaj" class="my-class" onclick="@("window.location.href='" + @Url.Action(String.Format("Rooms"), "Employee") + "'");" title="Naciśnięcie spowoduje powrót do listy pokoi">
                    Powrót do listy pokoi
                </span>
            </div>
        </div>
    </div>

}
<!--<div>


    <!--<div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" style="background-color:white; color:black; border:double;" value="Zapisz" class="btn btn-default" />|-->-->
            <!--@*@Html.ActionLink("Powrót do listy pokoi", "Index", null, new { @class = "my-class", title = "Naciśnięcie spowoduje powrót do listy pokoi" })*@-->
            <!--<span id="dodaj" class="my-class" onclick="@("window.location.href='" + @Url.Action(String.Format("Rooms"), "Employee") + "'");" title="Naciśnięcie spowoduje powrót do listy pokoi">
                Powrót do listy pokoi
            </span>
        </div>
    </div>-->
<!--</div>-->