<style>
    #usun {
        color: firebrick;
    }

    .my-class {
        color: black;
        font-family: Marker Felt;
    }

        .my-class:active {
            color: black;
        }

        .my-class:link {
            color: black;
        }

        .my-class:visited {
            color: black;
        }

        .my-class:hover {
            color: cadetblue;
        }
</style>
@model DPSapp.Models.Room

@{
    ViewBag.Title = "DeleteRoom";
    Layout = "~/Views/Shared/_LayoutEmp.cshtml";
}

<p class="error">@ViewBag.ErrorMessage</p>
<h3 id="usun">Czy na pewno chcesz usunąć pokój?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Numer pokoju:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoomNumber)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" style="background-color:white; color:black; border:double;" value="Usuń" class="btn btn-default" />
        <span id="dodaj" class="my-class" onclick="@("window.location.href='" + @Url.Action(String.Format("Rooms"), "Employee") + "'");" title="Naciśnięcie spowoduje powrót do listy pokoi">
            Powrót do listy pokoi
        </span>
    </div>
</div>
    }
</div>
